{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vote Utopia</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <h2>Vote Utopia</h2>
	  <p>Choisissez vos sujets préférés (1=Préféré)</p>                                                                                      
	  <form action="" method="POST">
		  {% csrf_token %}
		  <div class="table-responsive">          
		  <table class="table">
		    <thead>
		      <tr>
			<th>Sujet</th>
			<th>Description</th>
			{% for poids in l_poids %} 
				<th>{{poids.nom}}</th>
			{% endfor %}
		      </tr>
		    </thead>
		    <tbody>
			{% for sujet in sujets %} 
			<tr>
				<td>{{sujet.nom}}</td>
				<td>{{sujet.description}}</td>
				{% for poids in l_poids %} 
				<td>
					<input type="radio" name="{{poids.id}}" value="{{sujet.id}}" data-col="{{ forloop.parentloop.counter }}">
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		    </tbody>
		  </table>
		  </div>
		  <button type="submit" class="btn btn-default">Envoyer</button>
	  </form>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    
    <script>

	var col, el;

	$("input[type=radio]").click(function() {
	   el = $(this);
	   col = el.data("col");
	   $("input[data-col=" + col + "]").prop("checked", false);
	   el.prop("checked", true);
	});

    </script>

</body>

</html>
